body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
i{
    font-style: normal;
}
@font-face {
    font-family: 'weijinsuo';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../font/MiFie-Web-Font.svg') format('svg'),
    url('../font/MiFie-Web-Font.ttf') format('truetype'),
    url('../font/MiFie-Web-Font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'weijinsuo';
    font-style: normal;
}
.icon-mobilephone::before {
    content: "";
    /*content: "\e908";*/
    font-size: 13px;
}
body{
    height: 9999px;
}
#header {
    /*height: 200px;*/
}

#header > .topbar {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}
#header > .topbar > .container > .row > div {
    height: 40px;
    font-size: 12px;
}
#header a.mobile-link:hover {
    text-decoration: none;
}
#header a.mobile-link > img {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    z-index: 1001;
    top: 30px;
}
#header a.mobile-link:hover > img {
    display: block;
}
#header > .topbar > .container > .row > div + div {
    border-left: 1px solid #c0c0c0;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

#header .icon-icon {
    font-size: 50px;
    color: #E92322;
    line-height: 50px;
    vertical-align: middle;
}
#header .icon-icon::before {
    content: "\e920";
}
#header .icon-logo {
    font-size: 32px;
    color: #333;
    line-height: 50px;
    vertical-align: middle;
}
#header .icon-logo::before {
    content: "\e93e";
}

/*ad start*/
#main_ad > .carousel-inner > .item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 768px) {
    #main_ad > .carousel-inner > .item {
        height: 410px;
    }
}

#main_ad > .carousel-inner > .item > img {
    width: 100%;
}


.navbar-mynav-ff {
    color: #fff;
    background-color: #f5f5f5;
    margin-bottom: 0;
}
.navbar-mynav-ff .navbar-brand {
    color: #777;
    height: 70px;
}
.navbar-mynav-ff .navbar-brand:hover,
.navbar-mynav-ff .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-mynav-ff .navbar-text {
    color: #777;
}
.navbar-mynav-ff .navbar-nav > li > a {
    color: #777;
}
.navbar-mynav-ff .navbar-nav > li > a:hover,
.navbar-mynav-ff .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-mynav-ff .navbar-nav > .active > a,
.navbar-mynav-ff .navbar-nav > .active > a:hover,
.navbar-mynav-ff .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-mynav-ff .navbar-nav > .disabled > a,
.navbar-mynav-ff .navbar-nav > .disabled > a:hover,
.navbar-mynav-ff .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-mynav-ff .navbar-toggle {
    border-color: #ddd;
}
.navbar-mynav-ff .navbar-toggle:hover,
.navbar-mynav-ff .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-mynav-ff .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-mynav-ff .navbar-collapse,
.navbar-mynav-ff .navbar-form {
    border-color: #e7e7e7;
}
.navbar-mynav-ff .navbar-nav > .open > a,
.navbar-mynav-ff .navbar-nav > .open > a:hover,
.navbar-mynav-ff .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-mynav-ff .navbar-link {
    color: #777;
}
.navbar-mynav-ff .navbar-link:hover {
    color: #333;
}
.navbar-mynav-ff .btn-link {
    color: #777;
}
.navbar-mynav-ff .btn-link:hover,
.navbar-mynav-ff .btn-link:focus {
    color: #333;
}
.navbar-mynav-ff .btn-link[disabled]:hover,
fieldset[disabled] .navbar-mynav-ff .btn-link:hover,
.navbar-mynav-ff .btn-link[disabled]:focus,
fieldset[disabled] .navbar-mynav-ff .btn-link:focus {
    color: #ccc;
}










